dash==2.18.2
plotly==5.24.1
pandas==2.2.3
numpy==1.26.4
statsmodels==0.14.4
dash-auth==2.3.0
dash-bootstrap-components==1.6.0
dash-bootstrap-templates==1.2.4
pandas-datareader==0.10.0
gunicorn==23.0.0
setuptools>=70
wheel